.wp-pagenavi{
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
  // position: relative;
  
}
.page-content{
    color: #707070;
    border: solid 1px;
    margin: 0px 5px;
    text-decoration: none;
    padding: 5px;
    &:hover{
      background-color: #3C2B1C;
      color: #ffffff;
    }
    @include media(sp){
      display: none;
    }
  }

.page-number{
  font-size: 20px;
  margin: 0px 5px;
  @include media(sp){
    display: none;
  }
}
.nextpostslink {
  color: #707070;
  margin: 0px 5px;
  text-decoration: none;
  padding: 5px;
  &:hover{
    background-color: #3C2B1C;
    color: #ffffff;
  }
  &::before {
    content: "次へ";
    display: none;
    @include media(sp){
      display: inline;
    }
  }
  @include media(sp){
    float: right;
    width:100px;
    margin: 0px 30px 30px 0px;
   }
}

.previouspostslink{
  color: #707070;
  margin: 0px 5px;
  text-decoration: none;
  padding: 5px;
  &:hover{
    background-color: #3C2B1C;
    color: #ffffff;
  }
  &::after{
    content: "前へ";
    display: none;
    @include media(sp){
      display: inline;
    }
  }
  @include media(sp){
  float: left;
  width:100px;
  margin: 0px 0px 30px 30px;
  }
}

.current{
  color: #707070;
  border: solid 1px;
  margin: 0px 5px;
  text-decoration: none;
  padding: 5px;
  background-color: #3C2B1C;
  color: #ffffff;
  @include media(sp){
    display: none;
  }
}

